body{
    background-image:url(Weather.jpg);
    background-attachment: local;
    background-position: 100%;
    background-color: rgba(0, 0, 0, 0.322);
}
h1{
    text-align: center;
    font-size: 400%;
    font-family: -apple-system, BlinkMacSystemFont;
    color:red;
}
